In [2]:
total=0
i=0

while i<=10:
    total+=i
    i+=1
print(total)

55

In [6]:
a=int(input("type"))
total=0
while a<10:
    total+=a
    a+=1
else:
    print("too big")

type13
too big

In [7]:
number=int(input("type the number"))

if number<0:
    print("negative number")
else:
    sum=0
    while number>0:
        sum+=number
        number-=1
    print(sum)

type the number27
378

In [8]:
number=int(input("type integer"))
if number<0:
    print("negative number")
else:
    total=0
    while number>0:
        digit=number%10
        total+=digit
        number//=10
    print(total)

type integer1985
23

In [9]:
number=int(input("type integer"))
if number<0:
    print("negative number")
else:
    total=0
    while number>0:
        total+=1
        number//=10
    print(total)

type integer2019
4

In [27]:
number=int(input("type integer"))
if number<0:
    print("negative number")
else:
    
    total=0
    number2=number
    while number2>0:
        total+=1
        number2//=10
    print(total)
    
    total2=0
    i=10
    n=1
    while number>0:
        c=1
        t=total
        while t>1:
            c*=10
            t-=1
        digit=number%i
        total2+=digit*c
        number//=10
        total-=1
    print(total2)

type integer45831
5
13854

In [28]:
for letter in 'python':
    print(letter)

p
y
t
h
o
n

In [29]:
for i in range(4,10,2):
    print(i)

4
6
8

In [34]:
i=int(input("Enter the number"))
a=0
for j in range(0,i,1):
    for k in range(0,i,1):
        if k==a:
            print(1,end='')
        else:
            print(0,end='')
    print("")
    a+=1

Enter the number3
100
010
001

In [42]:
i=int(input("Enter the number"))
a=i-1
for j in range(0,i,1):
    for k in range(a,i,1):
        z=k
        print(i-z,end="")
    print("")
    a-=1

Enter the number5
1
21
321
4321
54321

In [46]:
low=int(input("Enter the low value"))
high=int(input("Enter the high value"))
k=0
for i in range(low,high,1):
    for k in range(2,i+1,1):
        if i%k==0:
            break
    if k==i:
        print(i)

Enter the low value15
Enter the high value210
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

SyntaxError: invalid character in identifier (<ipython-input-5-635730167178>, line 2)